<ul class="nav nav-tabs">
    <li>
        <%= link_to "Back to All Recipes", recipes_path %>
    </li>
    
</ul>

<div class="row">
    <div class="col-md-3 img-space">
         <%= get_gravimage @chef, size:300  %><br/>
         <% if current_user == @chef %>
            <center> <%= link_to "Update My Profile", edit_chef_path, class:"btn btn-warning btn-sm" %> </center>
        <% end %>
    </div>
    <div class="col-md-8 col-md-offset-1">
        <table width=100%><tr>
        <td><h4>All recipes by <%= @chef.chefname %> </h4></td><td><%= will_paginate @recipes%> </td>
         </tr></table>
          <% @recipes.each do |r| %>
           <div class="row">
               <div class = "col-md-9 well">
                    <h3 style='margin-top: -5px'><%= link_to r.name, r %> </h3><br>
                     <p> <%= r.summary %></p>
                     <!-- Style and Ingredients -->
                    <% if r.styles.any? %>
                        <p> Styles: <% r.styles.each do |style| %>
                            | <%= link_to style.name, style %>
                        <% end %>
                        </p>
                    <% else %>
                        <p>Styles: | n/a</p>
                    <% end %>
                    <% if r.ingredients.any? %>
                        <p> Ingredietns: <% r.ingredients.each do |ing| %>
                            | <%= link_to ing.name, ing %> 
                        <% end %>
                        </p>
                    <% else %>
                        <p>Ingredients: | n/a</p>
                    <% end %>
                     
                    <small>Posted <%= time_ago_in_words(r.created_at) %> ago.</small><br>
                         <div class="pull-right">
                <% if logged_in? %>
                    <% if r.chef_likes(current_user).size==1 %>
                    <% cheflike = r.chef_likes(current_user).first %>
                        <small>You have <b><%= (cheflike.like == true ? "liked" : "disliked") %></b> this recipe. 
                        [<%= link_to changevote_recipe_path(r), method: :patch do %> Change your vote <% end %>]</small><br>
                    <% else %>
                        <small>You have not yet voted for this recipe</small><br>
                    <% end %>
                
                <% end %>
                <small><%= r.thumbs_up_total %></small>
                <%= link_to like_recipe_path(r, like: true), method: :post do %>
                    <span class="glyphicon glyphicon-thumbs-up"></span> <small>Like</small>
                <% end %> | 
                <small><%= r.thumbs_down_total %></small>
                 <%= link_to like_recipe_path(r, like: false), method: :post do %>            
                <span class="glyphicon glyphicon-thumbs-down"></span> <small>Dislike</small> 
                <% end %>
            </div>
                </div>
                    
                <div class = "col-md-3">
                    <%= image_tag(r.picture.url, size: "250x150", class: "imgspace img-thumbnail") if r.picture? %>
                </div>
            </div>
        <% end %>
        <% if @chef.recipes.count==0 %>
            <p>There are no recipes posted yet for this chef</p>
        <% end %>
        </div>
</div>