<ul class="nav nav-tabs">
    <li>
        <%= link_to "Back to All Recipes", recipes_path %>
    </li>
</ul>

<h1><%= @recipe.name %> Details</h1>
<div class="row">
    <div class="col-md-2 imgspace">
        <small>Brought to you by</small><br/>
        <%= get_gravimage @recipe.chef, size:150  %> <br/>
       <%= link_to @recipe.chef.chefname, @recipe.chef %> 
       
    </div>
    <div class="col-md-9 well">
    <div class="row">
        <div class="col-md-7">
            <h3>Summary:  <%= @recipe.summary %> </h3><hr style = 'background-color: #999; height: 2px' />
            <%= simple_format(@recipe.description) %>
            
            <% if @recipe.styles.any? %>
                <p> Styles: <% @recipe.styles.each do |style| %>
                    | <%= link_to style.name, style %>
                <% end %>
                </p>
            <% else %>
                <p>Styles: | n/a</p>
            <% end %>
            <% if @recipe.ingredients.any? %>
                <p> Ingredietns: <% @recipe.ingredients.each do |ing| %>
                    | <%= link_to ing.name, ing %> 
                <% end %>
                </p>
            <% else %>
                <p>Ingredients: | n/a </p>
            <% end %>
        <% if @recipe.chef == current_user || (logged_in? && current_user.admin) %>
        <br/><br/>
           <%= link_to "Edit Recipe", edit_recipe_path(@recipe), class: "btn btn-warning btn-sm" %>
           <%= link_to "Delete Recipe", @recipe, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
            
        <% end %>
        </div>
        
        <div class="col-md-5">
            <%= image_tag(@recipe.picture.url, size:"400x240", class: 'img img-rounded img-responsive') if @recipe.picture? %> <br/>
            <div class="pull-right">
                <small><%= @recipe.thumbs_up_total %></small>
                <%= link_to like_recipe_path(@recipe, like: true), method: :post do %>
                    <span class="glyphicon glyphicon-thumbs-up"></span> <small>Like</small>
                <% end %> | 
                <small><%= @recipe.thumbs_down_total %></small>
                 <%= link_to like_recipe_path(@recipe, like: false), method: :post do %>            
                <span class="glyphicon glyphicon-thumbs-down"></span> <small>Dislike</small> 
                <% end %>
            </div>
        </div>
    </div>
    </div>    
</div>