<header class="navbar navbar-fixed-top navbar-default">
  
    <div class="container">
      
      <% if logged_in? %>
        <%= link_to "myRecipes Home", recipes_path, class: "btn btn-lg btn-success", id: "logo" %>
      <% else %>
         <%= link_to "myRecipes Home", root_path, class: "btn btn-lg btn-success", id: "logo" %>
      <% end %>
      
       <div class="topmen">
             <li class="dropdown">
              <%= link_to "#", class: "btn btn-warning btn-sm dropdown-toggle", "data-toggle" => "dropdown" do %>
                Browse By Style <b class="caret"></b> 
                <% end %>
                <ul class="dropdown-menu">
                    <% Style.all.each do |style| %>
                      <li> <%= link_to style.name, style %></li>
                    <% end %>
                    
                    <% if logged_in? %>
                     <li class="divider"></li>
                     <li> <%= link_to "Add a New Style", new_style_path %> </li>
                    <% end %>
                </ul>
            </li>
      </div>
      
       <div class="topmen">
             <li class="dropdown">
              <%= link_to "#", class: "btn btn-warning btn-sm dropdown-toggle", "data-toggle" => "dropdown" do %>
               Browse By Ingredient <b class="caret"></b> 
                <% end %>
                <ul class="dropdown-menu">
                    <% Ingredient.all.each do |ing| %>
                      <li> <%= link_to ing.name, ing %></li>
                    <% end %>
                     <% if logged_in? %>
                     <li class="divider"></li>
                     <li> <%= link_to "Add a New Ingredient", new_ingredient_path %> </li>
                    <% end %>
                </ul>
            </li>
      </div>
      
     
      
      <% if logged_in? %>
          <div class="topmen" style="margin-left: 25px;">
            <%= link_to "Add a New Recipe", new_recipe_path, class: "btn btn-warning btn-sm" %>
          </div>
          
          <!--dropdown -->
          <div style="float:right">
          <ul class="topmen" style="margin-right:5px;border-left: 1px solid white">
            <li class="dropdown">
              <%= link_to "#", class: "btn btn-danger btn-sm dropdown-toggle", "data-toggle" => "dropdown" do %>
                User Options <b class="caret"></b> 
                <% end %>
                <ul class="dropdown-menu">
                  <li><%= link_to "View Profile", chef_path(current_user) %></li>
                  <li><%= link_to "Edit Profile", edit_chef_path(current_user) %></li>
                  <li class="divider"></li>
                  <li> <%= link_to "Logout", logout_path %> </li>
                </ul>
            </li>
          </ul>
         <div class='pull-right'>
             <div class="pull-left">
                <%= get_gravimage(current_user, size:50) %>
            </div>
            <div style="width:150px;padding-top:10px;padding-left:10px;float:left;">
                <small style="color:white;">Logged in as:<br/> <%= current_user.chefname %> </small>
            </div>
          
         </div>
         
      <% else %>
            <div class="topmen pull-right">
            <%= link_to "Login", login_path, class: "btn btn-warning" %>
          </div>
      <% end %>
      
  
    </div>
       
</header>